<!DOCTYPE html>
<html lang="zh-cn en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TimorySurveyStatus</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <style>
        .status-icon {
            font-size: 2rem;
        }

        .approvedBg {
            background-color: rgba(200, 255, 200, 0.2);
        }

        .rejectedBg {
            background-color: rgba(255, 200, 200, 0.2);
        }

        .errorBg {
            background-color: rgba(255, 193, 7, 0.1);
        }

        .tooltip {
            position: relative;
            display: inline-block;
            border-bottom: 1px dotted black;
        }

        .tooltip .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;

            /* 定位 */
            position: absolute;
            z-index: 1;
        }

        .tooltip:hover .tooltiptext {
            visibility: visible;
        }
    </style>
</head>
<body>

<div id="app" class="container table-responsive ">

    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href="https://www.mcshiyi.com" target="_blank">官网</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://guide.mcshiyi.com" target="_blank">指南</a>
        </li>

    </ul>

    <div class="jumbotron">
        <h1 class="display-3">{{ title }}</h1>
        <div>
            <div class="alert alert-warning" role="alert">
                Last Update: {{convertTimeStamp(survey_data.lastupdate)}}
            </div>

            <div class="alert alert-info" role="alert">
                提示: 最新申请需要一段时间才会在此显示，请不要重复提交申请哦
            </div>
        </div>
        <hr class="my-4">

        <p class="lead">
            <a class="btn btn-primary " href="https://guide.mcshiyi.com/#/zh-CN/join/whitelist"
               target="_blank" role="button">申请白名单</a>
        </p>
    </div>

    <br>

    <h2 class="display-6">Pending</h2>
    <table class="table table-hover " v-if="survey_data.pending!=null && survey_data.pending.length>0">
        <thead>
        <tr>
            <th v-for='(tag) in table_head'>{{tag}}</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(item,index) in survey_data.pending"
            v-bind:style="{color: item.r_remark?'black':'blue',
            'background-color': item.r_remark?'rgba(220,190,60,0.2)':'rgba(105,179,222,0.2)' }">
            <th>
                <!--切换显示图标-->
                <i v-if="item.r_remark" class="bi bi-exclamation-circle text-warning status-icon"></i>
                <i v-else-if="item.pushed==1" class="bi bi-chat-right-dots text-warning status-icon"></i>
                <i v-else class="bi bi-clock-history text-info status-icon"></i>
                <br>
                <span v-if="item.r_remark" class="text-dark">{{item.r_remark}}</span>
                <span v-else-if="item.pushed==1" class="text-dark">UNDER REVIEW</span>
                <span v-else class="text-dark">PENDING</span>
            </th>
            <th>{{item.sid}}</th>
            <th>{{item.mcid}}</th>
            <th>{{convertTimeStamp(item.survey_end_timestamp)}}</th>
        </tr>
        </tbody>
    </table>
    <h4 v-else>当前暂无等待审核的申请</h4>
    <br>

    <h2 class="display-6 ">History</h2>
    <table class="table table-hover ">
        <thead>
        <tr>
            <th v-for='(tag) in table_head'>{{tag}}</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(item,index) in survey_data.history"
            v-bind:style="{color: item.status?'green':'red'}"
            v-bind:class="{approvedBg:item.status==1,rejectedBg:item.status==0,errorBg:item.status==-1}">

            <th v-if="item.status==1">
                <i class="bi bi-check-circle text-success status-icon"></i>
                <br>
                <span class="text-success">APPROVED</span>
            </th>
            <th v-if="item.status==0">
                <i class="bi bi-x-circle text-danger status-icon"></i>
                <br>
                <span class="text-danger">REJECTED</span>
            </th>
            <th v-if="item.status==-1">
                <i class="bi bi-exclamation-triangle text-warning status-icon"></i>

                <div class="tooltip">
                    <span>鼠标移动到这</span>
                    <span class="tooltiptext"> {{item.r_remark}} </span>
                </div>

                <br>
                <!--                <span v-if="item.r_remark" class="text-dark">{{item.r_remark}}</span>
                                <span v-else class="text-warning">ABORTED</span>-->
                <span class="text-warning">ABORTED</span>
            </th>
            <th>{{item.sid}}</th>
            <th>{{item.mcid}}</th>
            <th>{{convertTimeStamp(item.survey_end_timestamp)}}</th>
        </tr>

        </tbody>
    </table>

    TimoryGroup @2016~2077. All Right Reserved.
</div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            table_head: [
                "Status",
                "ID",
                "Minecraft ID",
                "Date"
            ],
            title: 'Timory Application Status',
            survey_data: {},
        },
        mounted() {
            fetch('status.json')
                .then(response => {
                    return response.json()
                })
                .then(data => {
                    console.log(data)
                    this.survey_data = data
                });
        },
        methods: {


            convertTimeStamp: function (timestamp) {
                var date = new Date(timestamp * 1000);
                Y = date.getFullYear() + '-';
                M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
                D = (date.getDate() < 10 ? '0' + (date.getDate()) : date.getDate()) + ' ';
                h = (date.getHours() < 10 ? '0' + (date.getHours()) : date.getHours()) + ':';
                m = (date.getMinutes() < 10 ? '0' + (date.getMinutes()) : date.getMinutes()) + ':';
                s = (date.getSeconds() < 10 ? '0' + (date.getSeconds()) : date.getSeconds());
                return Y + M + D + h + m + s;
            }
        }
    })


</script>
</html>
